<!--<p>game-list works!</p>-->
<div class="container">
    <h1>Games</h1>

    <div class="filters">
        <form>
            <mat-form-field>
                <mat-label>Game Title</mat-label>
                <input type="text" matInput placeholder="Título del juego" [(ngModel)]="filterTitle" name="titleeee">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Game Category</mat-label>
                <mat-select disableRipple [(ngModel)]="filterCategory" name="categoryyyyyy">
                    <mat-option *ngFor="let categoryy of categories" [value]="categoryy">{{categoryy.name}}</mat-option>
                </mat-select>
            </mat-form-field>    
        </form>

        <div class="buttons">
            <button mat-stroked-button (click)="onCleanFilter()">Limpiar</button> 
            <button mat-stroked-button (click)="onSearch()">Filtrar</button> 
        </div>   
    </div>   

    <div class="game-list">
        <app-game-item *ngFor="let game of games; let i = index;" (click)="editGame(game)" [game]="game"></app-game-item>
    </div>

    <div class="buttons">
        <button mat-flat-button color="primary" (click)="createGame()">Nuevo juego</button>            
    </div>   
</div>
