<!--<p>booking-edit works!</p>-->
<div class="container">
    <h1 *ngIf="booking.id == null">Crear Reserva/Préstamo</h1>
    <h1 *ngIf="booking.id != null">Modificar Reserva</h1>

    <form>
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input type="text" matInput placeholder="Identificador" [(ngModel)]="booking.id" name="id" disabled>
        </mat-form-field>       
       
        <mat-form-field appearance="fill">
            <mat-label>Choose a initial date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="booking.inicio" [ngModelOptions]="{standalone: true}">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>Inicio reserva no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Choose a end date</mat-label>
            <input matInput [matDatepicker]="picker2" [(ngModel)]="booking.fin" [ngModelOptions]="{standalone: true}">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error>Fin reserva no puede estar vacío</mat-error>
        </mat-form-field>        

        <mat-form-field>
            <mat-label>Game</mat-label>
            <mat-select disableRipple [(ngModel)]="booking.game" name="game" required>
                <mat-option *ngFor="let game of games" [value]="game">{{game.title}}</mat-option>
            </mat-select>
            <mat-error>El juego no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Customer</mat-label>
            <mat-select disableRipple [(ngModel)]="booking.customer" name="customer" required>
                <mat-option *ngFor="let customer of customers" [value]="customer">{{customer.name}}</mat-option>
            </mat-select>
            <mat-error>El cliente no puede estar vacío</mat-error>
        </mat-form-field>
    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
    </div>
</div>

