<!--<p>booking-list works!</p>-->
<div class="container">
    <h1>Bookings</h1>

    <div class="filters">
        <form>
            <mat-form-field>
                <mat-label>Título del juego</mat-label>
                <input type="text" matInput placeholder="Título del juego" [(ngModel)]="filterTitle" name="title">
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Inicio</mat-label>
                <input type="datetime-local" matInput placeholder="Inicio de Reserva" [(ngModel)]="filterInicio" name="inicio">
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Fin</mat-label>
                <input type="date" matInput placeholder="Fin de Reserva" [(ngModel)]="filterFin" name="fin">
            </mat-form-field>   
            
            <mat-form-field>
                <mat-label>Customer</mat-label>
                <mat-select disableRipple [(ngModel)]="filterCustomer" name="customer">
                    <mat-option *ngFor="let customer of customers" [value]="customer">{{customer.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        
        <div class="buttons">
            <button mat-stroked-button (click)="onCleanFilter()">Limpiar</button> 
            <button mat-stroked-button (click)="onSearch()">Filtrar</button> 
        </div>  
         
    </div>   

    <div class="container">
        <!--<h1>Listado de Bookings</h1>-->
    
        <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> Identificador </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="game.title">
                <mat-header-cell *matHeaderCellDef> Titulo </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.game.title}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="customer.name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.customer.name}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="inicio">
                <mat-header-cell *matHeaderCellDef> Start </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.inicio}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="fin">
                <mat-header-cell *matHeaderCellDef> End </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.fin}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" (click)="editBooking(element)"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button color="accent" (click)="deleteBooking(element)"><mat-icon>clear</mat-icon></button>
                </mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        
        <mat-paginator (page)="loadPage($event)" [pageSizeOptions]="[2, 4, 8]" [pageIndex]="pageNumber" [pageSize]="pageSize" [length]="totalElements" showFirstLastButtons></mat-paginator>
        
        <div class="buttons">
            <button mat-flat-button color="primary" (click)="createBooking()">Nuevo Booking</button>
        </div>   
    </div>
</div>

